body{
    background-color: rgb(241, 185, 136);
    margin-top: 2cm;


}
body h1 {
    color: navy;
    text-align: center;

}
#parent {
    background-color: rgb(248, 170, 170);
    margin: 1%;
    text-align:center;
    color: darkblue;
    display: block;
    


    



}
#parent h2{
    background-color: teal;
    color: maroon;
   font-family: Arial, Helvetica, sans-serif;


}
#parent ul{
    font-family: sans-serif;
    font-size: xx-large;
    color: navy ;
    

}
body a {

    text-decoration: none;
    font-family: cursive;
    font-size: x-large;
    color: darkgreen;
    
}

